<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/output.css">
    <title>Tailwind Template</title>
</head>

<body>
    <div class="flex flex-col justify-center items-center bg-slate-600">
        <span
            class="font-semibold text-4xl text-purple-600 border rounded-md border-black hover:border-purple-600">Welcome
            to my place,
            {{.Name}}
        </span>
    </div>
</body>

</html>
